name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
        with:
          dotnet-version: "9.0.200"
      - run: ./test.ps1
        shell: pwsh
